/*header*/
.navbar {
  border-radius: 6px !important;
  background: #BC3C32 !important;
  margin: 5px auto;
  font-family: Oswald;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem; }
  .navbar .logo {
    width: 8rem;
    transition: .5s; }
    .navbar .logo:hover {
      transform: rotate(360deg); }
  .navbar button .menu {
    width: 2rem; }
  .navbar .nav-item {
    margin: 15px; }
  .navbar .nav-link {
    color: white; }
    .navbar .nav-link:hover {
      color: black; }

/*slider*/
.contenido__menu__slider {
  display: flex;
  justify-content: center;
  padding: 15px; }
  .contenido__menu__slider .contenido-all {
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden; }
    .contenido__menu__slider .contenido-all .slide {
      display: flex;
      transform: translate3d(0, 0, 0);
      transition: all 600ms;
      animation-name: autoplay;
      animation-duration: 6.5s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite; }
      .contenido__menu__slider .contenido-all .slide .item-slide {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 0;
        max-width: 100%; }
        .contenido__menu__slider .contenido-all .slide .item-slide img {
          max-width: 100%; }
    .contenido__menu__slider .contenido-all .pagination {
      position: absolute;
      bottom: 20px;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 100%; }
      .contenido__menu__slider .contenido-all .pagination .pagination-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid white;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 10px;
        text-align: center;
        transition: all 300ms; }
        .contenido__menu__slider .contenido-all .pagination .pagination-item:hover {
          transform: scale(2); }
        .contenido__menu__slider .contenido-all .pagination .pagination-item img {
          display: inline-block;
          max-width: none;
          height: 100%;
          transform: scale(1);
          opacity: 0;
          transition: all 300ms; }
        .contenido__menu__slider .contenido-all .pagination .pagination-item:hover img {
          opacity: 1;
          transform: scale(1); }

input[id="1"]:checked ~ .slide {
  animation: none;
  transform: translate3d(0, 0, 0); }

input[id="1"]:checked ~ .pagination .pagination-item[for="1"] {
  background: #fff; }

input[id="2"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0); }

input[id="2"]:checked ~ .pagination .pagination-item[for="2"] {
  background: #fff; }

input[id="3"]:checked ~ .slide {
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0); }

input[id="3"]:checked ~ .pagination .pagination-item[for="3"] {
  background: #fff; }

@keyframes autoplay {
  33% {
    transform: translate3d(calc(-100% * 0), 0, 0); }
  66% {
    transform: translate3d(calc(-100% * 1), 0, 0); }
  100% {
    transform: translate3d(calc(-100% * 2), 0, 0); } }

/*footer*/
footer {
  background: #BC3C32;
  border-radius: 6px;
  padding: 5px;
  margin: 5px 0px; }
  footer .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px; }
    footer .container__footer .box__footer {
      display: flex;
      flex-direction: column;
      padding: 2px; }
      footer .container__footer .box__footer .logo img {
        width: 130px; }
      footer .container__footer .box__footer h2 {
        margin-bottom: 3px;
        color: #343434;
        font-weight: 700;
        font-size: 14px; }
      footer .container__footer .box__footer a {
        margin-top: 5px;
        color: white;
        font-weight: 600px;
        text-decoration: none;
        font-size: 13px; }
        footer .container__footer .box__footer a:hover {
          color: black; }
        footer .container__footer .box__footer a .fab {
          font-size: 20px;
          color: black; }
  footer .box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px; }
    footer .box__copyright p {
      margin-top: 20px;
      color: #343434;
      font-size: 11px; }
    footer .box__copyright hr {
      height: 1px;
      background-color: #7a7a7a; }

/*contenido*/
.contenido {
  font-family: oswald;
  font-weight: bold;
  background: #FCD391;
  padding: 0.5rem;
  margin-bottom: 5px;
  border-radius: 6px; }

.contenido__hacemos .h1 {
  padding: 10px;
  text-align: center;
  color: #bf2323;
  font-family: Oswald;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase; }

.contenido__hacemos .h2 {
  line-height: 0.5;
  text-align: justify;
  padding: 10px; }
  .contenido__hacemos .h2 a {
    font-size: 25px;
    color: black; }

/*que hacemos cuadros*/
.contenido__texto .h2 {
  line-height: 0.5;
  text-align: justify;
  padding: 10px; }

.box {
  position: relative;
  width: 350px;
  height: 270px;
  background: #BC3C32;
  margin: auto;
  margin-bottom: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px; }
  .box .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background: white;
    z-index: 1; }
    .box .icon img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 100px;
      width: 50%; }
  .box .content {
    position: absolute;
    height: calc(100%-10px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    top: 100%;
    transition: 0.5s; }
    .box .content h3 {
      margin: 0;
      padding: 0;
      color: black; }
    .box .content p {
      margin: 0;
      padding: 0;
      color: black; }
  .box:hover .content {
    top: 100px; }

/*productos*/
#galeria .row {
  margin: auto; }

#galeria .card {
  margin: 10px auto !important;
  padding: 5px; }
  #galeria .card img {
    border-radius: 10px; }
    #galeria .card img:hover {
      border: 5px solid #BC3C32; }
  #galeria .card .card-body .card-text {
    text-align: justify; }

/*donde estamos*/
.contacto {
  text-align: center; }

/*contacto*/
.formulario {
  width: 80%;
  background-color: blanchedalmond;
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  font-size: 1rem;
  border-radius: 6px; }

.control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; }

.boton {
  width: 100%;
  background: gray;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 14px; }

select {
  margin-bottom: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; }

.rof {
  padding: 10px; }

#comentarios {
  width: 100%;
  padding: 60px;
  border-radius: 4px;
  margin-bottom: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem; }
