/*carrusel*/
.contenido{
    background:$main-background-cuerpo ;
    padding: 5rem;
    border-radius: 6px;
    .carousel-item h5, p{
        line-height: 1.5;
        font-size: 20px;
        font-family: Sigmar One;
        font-weight: bold;
        color: rgb(8, 8, 8);
    }
}


