/*contenido*/
@mixin estiloletra {
    font-family: Oswald;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.contenido{
    background:$main-background-cuerpo ;
    padding: 0.5rem;
    border-radius: map-get($caract, radio);
}

.contenido-hacemos p{
    line-height: 1.5;
    text-align: justify;
}

/*productos*/
.h1 {
    padding: 20px;
    text-align: center;
    color: rgb(191, 35, 35);
    @include estiloletra;   
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;

    img {
        width: map-get($caract, ancho);
        height: 100%;
        border-radius: 10px;

        &:hover {
            border: 5px solid #BC3C32;
        }
    }
}