/*contenido*/
@mixin estiloletra {
    font-family: Oswald;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.contenido {
    font-family: oswald;
    font-weight: bold;
    background: $main-background-cuerpo;
    padding: 0.5rem;
    margin-bottom: 5px;
    border-radius: map-get($caract, radio);
}

.contenido__hacemos .h1 {
    padding: 10px;
    text-align: center;
    color: rgb(191, 35, 35);
    @include estiloletra;
}

.contenido__hacemos .h2 {
    line-height: 0.5;
    text-align: justify;
    padding: 10px;

    a {
        font-size: 25px;
        color: black;
    }
}

/*que hacemos cuadros*/

.contenido__texto .h2 {
    line-height: 0.5;
    text-align: justify;
    padding: 10px;
}

.box {
    position: relative;
    width: 370px;
    height: 270px;
    background: $main-background-menu;
    margin: 0 auto 0;
    margin-bottom: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;

    .icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 30%;
        background: white;
        z-index: 1;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            width: 50%;
        }
    }

    .content {
        position: absolute;
        height: calc(100%-10px);
        text-align: center;
        padding: 20px;
        box-sizing: border-box;
        top: 100%;
        transition: 0.5s;

        h3 {
            margin: 0;
            padding: 0;
            color: black;
        }

        p {
            margin: 0;
            padding: 0;
            color: black;
        }
    }

    &:hover .content {
        top: 100px;
    }
}


/*productos*/

#galeria {
    .row {
        margin: auto;

    }

    .card {
        margin: 10px auto !important;
        padding: 5px;

        img {
            border-radius: 10px;


            &:hover {
                border: 5px solid #BC3C32;
            }
        }
        .card-body .card-text{
            text-align: justify;
        }
    }
}

/*vender*/


/*contacto*/

.formulario {
    width: auto;
    background-color: blanchedalmond;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 2rem;
    border-radius: 6px;

}

.control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

.boton {
    width: 100%;
    background: gray;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 18px;
}

select {
    margin-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

.rof {
    padding: 10px;
}

#comentarios {
    width: 100%;
    padding: 60px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}