/*header*/
.navbar{
    border-radius: map-get($caract, radio) !important;
    background: $main-background-menu!important;
    margin: 5px auto;
    font-family: Oswald;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    img{
        width: 15rem;
        transition: .5s;

        &:hover {
          transform: rotate(360deg);
        }
    }
    & .nav-item{
        margin: 15px;
    }
    & .nav-link{
        color: white;
        &:hover{
            color:black
        }
    }
}


