/*footer*/
.pie {
    border-radius: 6px;
    background: $main-background-menu !important;

    .pie-div {
        color: black;
        font-family: Oswald;
        font-weight: bold;
        text-decoration: none;
    }

    .img {
        width: 2rem;
    }
}