/*footer*/
footer {
  background: #BC3C32;
  border-radius: 6px;

  .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 10px;

    .box__footer {
      display: flex;
      flex-direction: column;
      padding: 2px;

      .logo img {
        width: 130px;
      }

      h2 {
        margin-bottom: 3px;
        color: #343434;
        font-weight: 700;
        font-size: 14px;
      }

      a {
        margin-top: 5px;
        color: white;
        font-weight: 600px;
        text-decoration: none;
        font-size: 13px;
        &:hover {
          color: black;
        }
        .fab {
          font-size: 20px;
          color: black;
        }
      }     
    }
  }
  .box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    p {
      margin-top: 20px;
      color: #343434;
      font-size: 11px;
    }
    hr {
      height: 1px;
      background-color: #7a7a7a;
    }
  
  }
   
}

